@import '~bootstrap/scss/bootstrap';

html, body {
    height: 100%;
    min-width: 1024px;
}

.container-fluid {
    height: -moz-calc(100% - 56px);
    height: -webkit-calc(100% - 56px);
    height: -o-calc(100% - 56px);
    height: calc(100% - 56px);
}
