// bootstrap
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/root';
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/type';
@import '~bootstrap/scss/images';
@import '~bootstrap/scss/code';
@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/tables';
@import '~bootstrap/scss/forms';
@import '~bootstrap/scss/buttons';
@import '~bootstrap/scss/transitions';
@import '~bootstrap/scss/dropdown';
@import '~bootstrap/scss/button-group';
@import '~bootstrap/scss/input-group';
@import '~bootstrap/scss/custom-forms';
@import '~bootstrap/scss/nav';
@import '~bootstrap/scss/navbar';
//@import '~bootstrap/scss/card';
@import '~bootstrap/scss/breadcrumb';
@import '~bootstrap/scss/pagination';
@import '~bootstrap/scss/badge';
@import '~bootstrap/scss/jumbotron';
@import '~bootstrap/scss/alert';
@import '~bootstrap/scss/progress';
@import '~bootstrap/scss/media';
@import '~bootstrap/scss/list-group';
@import '~bootstrap/scss/close';
@import '~bootstrap/scss/modal';
@import '~bootstrap/scss/tooltip';
@import '~bootstrap/scss/popover';
@import '~bootstrap/scss/carousel';
@import '~bootstrap/scss/utilities';
@import '~bootstrap/scss/print';

html, body {
  height: 100%;
  min-width: 1024px;
}

.container-fluid {
  height: -moz-calc(100% - 56px);
  height: -webkit-calc(100% - 56px);
  height: -o-calc(100% - 56px);
  height: calc(100% - 56px);
}

main {
  background-image: url('/images/bg_cthulhu_01.jpg');
  background-size: cover;
}

#player-area, #enemy-area {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  padding: 6px;
  clear: both;
  min-width: 100px;
  min-height: 134px;
}

#player-commit-1, #player-commit-2, #player-commit-3, #enemy-commit-1, #enemy-commit-2, #enemy-commit-3 {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  padding: 6px;
  margin: 2px;
  min-width: 134px;
  min-height: 100px;
}

.card {
  width: 80px;
  height: 114px;
  margin: 4px;
}

.card-active {
}

.card-passive {
  margin-bottom: -28px;
  transform-origin: left;
  transform: translate(57px, 24px) rotate(-90deg);
}

.card-story {
  width: 114px;
  height: 80px;
  margin: 4px 12px;
}
